[submodule "Webinar"]
	path = Webinar
	url = https://github.com/a4org/Webinar.git
[submodule "ds"]
	path = ds
	url = https://github.com/Angold-4/ds.git
[submodule "OSDI"]
	path = OSDI
	url = https://github.com/Angold-4/OSDI.git
[submodule "cs"]
	path = cs
	url = https://github.com/Angold-4/cs.git
